.btn {
  position: relative;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  transition: .3s ease-in;
  &:focus {
    box-shadow: none;
  }
}

.btn-outline {
  border: 2px solid black !important;
  color: black !important;
  &:hover {
    background: black !important;
    color: white !important;
  }
}

.btn-filled {
  color: black !important;
  background: white !important;
  border: 2px solid white !important;
  &:hover {
    background: black !important;
    color: white !important;
    border: 2px solid white !important;
  }
}
