@font-face {
  font-family: 'Roboto-Medium';
  src: url('./Roboto-Medium.ttf');
}

@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url('./RobotoCondensed-Light.ttf');
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('./fonts/RobotoCondensed-Regular.ttf');
}

.mediumFontFamily {
  font-family: 'Roboto-Medium';
}
.lightFontFamily {
  font-family: 'RobotoCondensed-Light';
}
.regularFontFamily {
  font-family: 'RobotoCondensed-Regular';
}
