.main-content-wrapper {
  height: 400px;
  margin: 115px 0;
  section {
    padding-top: 100px;
    min-height: 100vh;
    position: relative;
  }
  .right-sidebar {
    position: fixed;
    right: -50px;
    width: 150px;
    height: 50px;
    top: 50%;
    text-align: center;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-heading {
    font-size: 50px;
  }
  .intro-section {
    height: auto;
    .section-heading {
      width: 60%;
    }
    .btn {
      position: relative;
      padding: 10px 50px 10px 20px;
      border: 2px solid black;
      border-radius: 5px;
      transition: .3s ease-in;
      span::after {
        content: "→";
        position: absolute;
        font-size: 30px;
        right: 20px;
        top: -3px;
        transition: .25s ease-in;
      }
      &:hover {
        background: black;
        color: white;
        ::after {
          right: 10px;
        }
      }
      &:focus {
        box-shadow: none;
      }
    }
    .intro-section_image {
      height: 300px;
      position: absolute;
      right: 3.5%;
      top: 20%;
      .picture__outline {
        width: 300px;
        background: #8080807d;
        position: absolute;
        right: 0;
        top: 0%;
        height: 300px;
        transform: translate(20px, 20px);
        border-radius: 5px;
      }
      img {
        border-radius: 5px;
        filter: grayscale(100%);
        transition: .35s ease-in;
        &:hover {
          transform: translate(20px, 20px);
          filter: grayscale(0%);
        }
      }
    }
    .intro-section_content {
      width: 55%;
    }
    @media (max-width: 1000px) {
      .section-heading {
        width: 100%;
      }
      .intro-section_image {
        display: none;
        position: relative;
        display: flex;
        justify-content: center;
        right: 0;
        top: 0;
        img:hover {
          transform: none;
        }
      }
      .picture__outline {
        display: none;
      }
      .intro-section_content {
        width: 80%;
      }
    }
  }

  #experience-section-wrapper {
    .work-info-wrapper-content {
      position: relative;
      height: 800px;
      margin-top: 80px;
      .work-info-wrapper__timeline_bar {
        height: 100%;
        width: 1.5px;
        background: black;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)
      }
    }
  }
}

@media (max-width: 500px) {
  section {
    min-height: calc(100vh - 60px) !important;
    padding: 50px 0 !important;
  }
  .section-heading {
    font-size: 30px !important;
  }
}

@media (max-width: 700px) and (min-width: 501px) {
  .section-heading {
    font-size: 40px !important;
  }
}
