.main-content-wrapper {
  height: max-content;
  margin-top: 115px;
  section {
    padding-top: 60px;
    min-height: 100vh;
    position: relative;
  }
  .secondary-heading {
    font-size: 25px;
  }
  .marquee-sidebar {
    font-size: 25px;
    position: fixed;
    top: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
  }
  .right-sidebar {
    right: -50px;
    width: 150px;
    height: 50px;
  }
  .left-sidebar {
    width: 100vh;
    height: 50px;
    left: -22rem;
    ul {
      list-style: none;
      padding: 0;
      transform: rotate(90deg);
      li {
        margin-bottom: 10px;
      }
      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: white;
        border: 2px solid white;
      }
    }
    div {
      height: 3px;
      width: 72%;
      position: absolute;
      background: black;
      left: -90px;
      top: 30%;
    }
  }
  .intro-section {
    height: auto;
    .section-heading {
      width: 60%;
    }
    @media (max-width: 1000px) {
      .section-heading {
        width: 90% !important;
      }
    }
    .btn {
      padding: 10px 50px 10px 20px !important;
      position: relative;
      span::after {
        content: "→";
        position: absolute;
        font-size: 30px;
        right: 20px;
        top: -3px;
        transition: .25s ease-in;
      }
      &:hover {
        ::after {
          right: 10px;
        }
      }
    }
    .intro-section_image {
      height: 300px;
      position: absolute;
      right: 3.5%;
      top: 20%;
      .picture__outline {
        width: 300px;
        background: hsla(0,0%,50.2%,.49);
        position: absolute;
        right: 0;
        top: 0;
        height: 300px;
        transform: translate(20px,20px);
        border-radius: 5px;
      }
      img {
        border-radius: 5px;
        filter: grayscale(100%);
        transition: .35s ease-in;
        &:hover {
          transform: translate(20px,20px);
          filter: grayscale(0);
        }
      }
    }
    .section-content-wrapper {
      width: 55%;
    }

    @media (max-width: 1000px) {
      .intro-section_image {
        display: none;
      }
      .intro-section_content {
        width: 80%;
      }
    }
  }

  #experience-section-wrapper {
    .work-info-wrapper-content {
      position: relative;
      height: 800px;
      margin-top: 80px;
      .work-info-wrapper__timeline_bar {
        height: 100%;
        width: 1.5px;
        background: black;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)
      }
    }
  }

  #work-section-wrapper {
    .project-container {
      display: flex;
      .project-preview {
        width: 40%;
        max-width: 400px;
      }
      .project-info {
        width: 60%;
        padding-left: 8%;
        .project-title {
          margin-bottom: 8px;
        }
        .project-content {
          .btn {
            padding: 10px 50px 10px 20px;
            margin-top: 20px;
            span::after {
              content: "→";
              position: absolute;
              font-size: 30px;
              right: 20px;
              top: -3px;
              transition: .25s ease-in;
            }
            &:hover {
              ::after {
                right: 10px;
              }
            }
          }
        }
      }
    }
    @media (max-width: 800px) {
      .project-container {
        display: block;
        .project-preview {
          width: 100%;
          max-width: 360px;
        }
        .project-info {
          width: 90%;
          margin-top: 5%;
          padding-left: 0;
        }
      }
    }
  }

  #aboutme-section-wrapper {
    min-height: fit-content;
    .aboutme-container {
      display: flex;
      .about-section_image {
        width: 40%;
        div {
          height: 200px;
          width: 200px;
          background-image: url('./profilepic.jpg');
          border-radius: 50%;
          background-size: cover;
          background-position: 25px;
        }
        // filter: blur(1.5px);
        // transition: 0.5s ease-in;
        // &:hover {
        //   filter: blur(0);
        // }
      }
      p {
        width: 60%;
        align-self: center;
      }
    }
    @media (max-width: 700px) {
      .aboutme-container {
        display: block;
        .about-section_image {
          margin-bottom: 30px;
          margin-right: 0;
        }
      }
    }
    .tech-stack-wrapper {
      margin-top: 3rem;
      .secondary-heading {
        text-align: center;
        margin-bottom: 1rem;
      }
      .tech-stack-container {
        display: flex;
        justify-content: space-around;
        .tech-heading-label {
          font-size: 20px;
        }
        ul {
          list-style: none;
          padding-left: 0;
          li {
            margin: 0;
          }
        }
      }
    }
    @media (max-width: 800px) and (min-width: 600px) {
      .tech-stack-container {
        justify-content: space-between !important;
      }
    }
    @media (max-width: 600px) {
      .tech-stack-container {
        display: block !important;
        ul {
          padding-left: 15px !important;
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .main-content-wrapper {
    margin-top: 90px;
  }
}

// @media (max-width: 1000px) and (min-width: 600px) {
//   section {
//     min-height: calc(100vh - 100px) !important;
//     padding: 50px 0 !important;
//   }
// }


@media (max-width: 500px) {
  .main-content-wrapper {
    margin-top: 80px;
  }
  section {
    min-height: calc(100vh - 150px) !important;
    // padding: 30px 0 !important;
  }
}
