.main-content-wrapper {
  height: 400px;
  margin: 115px 0;
  section {
    border: 1px solid red;
    padding: 100px 0;
    height: calc(100vh - 115px)
  }
}

@media (max-width: 500px) {
  section {
    padding: 80px 0 !important;
  }
}
