.navbar {
  padding: 25px 100px 40px !important;
  background: white;
  z-index: 10 !important;
  .navbar-brand {
    padding: 0;
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
  .nav-drop-button {
    display: none;
    div {
      height: 2px;
      width: 25px;
      margin: 5px 0;
      background: black;
    }
  }
  .nav-item {
    text-align: right;
    padding-left: 60px;
    li {
      transition: 0.5s
    }
    a {
      padding: 0;
      position: relative;
      text-decoration: none;
      color: black;
      background: white;
      outline: none;
    }
    a:hover {
      color: black;
    }
  }
  .nav-last-item {
    padding: 0 0 0 30px !important;
  }
}
@media (max-width: 900px) {
  .navbar {
    padding: 25px 50px 40px !important;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 25px 25px 40px !important;
  }
  .mobile-view-navbar__close-icon {
    padding: 10px 25px !important;
  }
}

@media (max-width: 700px) {
  .nav-item {
    display: none !important;
  }
  .nav-drop-button {
    display: block !important;
  }
}



#mobile-view-navbar {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  overflow-y: hidden;
  transition: 0.5s;
  .mobile-view-navbar__close-icon {
    font-size: 50px;
    text-align: right;
    padding: 10px 50px;
  }
  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15vh;
    padding: 0;
  }
  li {
    margin-bottom: 20px;
    list-style: none;
  }
  a {
    background: black;
  }
  a:before {
    content: attr(data-text);
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    transition: 0.5s;
    left: 0;
    // color: transparent;
    opacity: 0;
  }
  a:hover:before {
    opacity: 1;
    left: auto;
    transform: translateX(-50%);
  }
}

#mobile-view-navbar a {
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}


@media screen and (max-height: 450px) {
  #mobile-view-navbar {overflow-y: auto;}
  #mobile-view-navbar a {font-size: 20px}
}
