@import '~bootstrap/dist/css/bootstrap.css';

body {
  margin: 0;
  font-family: monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background: white;
  font-size: 16.8px;
  .blur-content {
    transition: .5 ease-in;
    filter: blur(2px);
  }
  .disablescroll {
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  body {
    font-size: 15px !important;
  }
}

* {
  scroll-behavior: smooth;
}

.page-loader {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background: black;
  position: relative;
  transition: 0.5s ease-out;
  .loader-content {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .spinner-border {
      position: absolute;
      top: -12px;
      left: -35px;
      border: 1px solid white;
      border-right: transparent;
      height: 100px;
      width: 100px;
    }
  }
}

.sticky {
  position: sticky;
  background: black;
  top: 100px;
  width: 100%;
  z-index: 1;
}

@media (max-width: 500px) {
  .sticky {
    top: 90px !important;
  }
}
