:root {

  /* ----- colors ----- */
  --green: #0fb36c;
  /* --green: #0fb36c; old color */

  --white: white;
  --black: #242224;
  --light-black: #353335;
  --red: red;
  --light-grey: #25252545;
  --dark-grey: #dfdcdc2b;

  --primary-color: var(--green);
  --secondary-color: var(--black);
  --background-color: var(--white);
  --light-blackground-color: var(--white);
  --project-content-background: var(--light-grey);
  --card-background-color: var(--primary-color);

  --active-color: var(--light-grey);
  --loader-color: var(--primary-color);
  --theme-font-weight: initial;
  --body-font-weight: 400;
  --nav-border: var(--primary-color);

  --h1-fontSize: 2.5rem;
  --h2-fontSize: 2rem;
  --body-fontSize: 1rem;
  --sm-fontSize: .8rem;

  --shadow-border_color: #d9d9d900;
  --shadow-color: #d9d9d9;

  --button-txt-color: var(--primary-color);
  --button-bck-color: transparent;
  --button-border-color: var(--primary-color);
}

 @media (max-width: 600px) {
  :root {
    --h1-fontSize: 1.65rem;
    --h2-fontSize: 1.3rem;
    --body-fontSize: .8rem;
    --sm-fontSize: .65rem;
  }
}
.dark-mode {
  --secondary-color: var(--white);
  --background-color: var(--black);
  --light-blackground-color: var(--light-black);
  --project-content-background: var(--background-color);
  --card-background-color: var(--background-color);
  --loader-color: var(--white);
  --theme-font-weight: bold;
  --nav-border: var(--secondary-color);
  --body-fontSize-weight: 500;
  --active-color: var(--white);
}

.fg-primary-clr {
  color: var(--primary-color);
  font-weight: var(--theme-font-weight);
}
.bg_black {
  background: var(--secondary-color);
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
h1, h2, h3, h4, ul {
  margin: 0;
}
h1 {
  font-size: var(--h1-fontSize);
}
h2 {
  font-size: var(--h2-fontSize);
}
a {
  text-decoration: none;
  font-weight: bold;
}
a span {
  color: var(--primary-color);
}
.mb10 {
  margin-bottom: 1rem !important;
}
.rm_bm {
  margin-bottom: 0;
}
.rm_tm {
  margin-top: 0;
}
.small-font {
  font-size: var(--sm-fontSize);
}
body {
  margin: 0;
  height: 100vh;
  font-size: var(--body-fontSize);
  /* font-family: sans-serif; */
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  font-weight: var(--body-font-weight);
  line-height: 1.8;
  letter-spacing: .05rem;
  color: var(--secondary-color);
  background: var(--background-color);
  overflow-x: hidden;
  box-sizing: border-box;
}
.body-layout {
  margin: 2rem 5rem;
  transition: padding .5s ease-in-out;
}
main {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: auto;
  position: relative;
  margin-top: 0 !important;
}
article {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
section {
  height: fit-content;
  margin-bottom: 8rem;
}
.section-heading {
  font-size: var(--h1-fontSize);
  font-weight: bold;
}
.sticky-header {
  position: sticky;
  top: 0;
  background: var(--background-color);
  width: 100%;
  z-index: 5;
}
section > .container {
  padding: 3rem;
  background: var(--light-blackground-color);
}
section hr {
  margin: 0;
  height: 8px;
  width: 0px;
  border: none;
  border-radius: 1rem;
  background: var(--primary-color);
  transition: width .6s ease-in-out;
}
hr.appear{
  width: 150px;
  transition: width .6s ease-in-out;
}

main::-webkit-scrollbar, article::-webkit-scrollbar {
  /* width: 5px; */
  /* background: var(--primary-color); */
  display: none;
}
main::-webkit-scrollbar-track, article::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-track {
  display: none !important;
}
@media (min-width: 600px) and (max-width: 900px) {
  .body-layout {
    margin: 1.5rem 3.5rem;
  }
}
@media (max-width: 600px) {
  .body-layout {
    margin: 1.5rem;
  }
  .sticky-header {
    top: -1px;
  }
  section {
    margin-bottom: 4rem;
  }
  section > .container {
    padding: 1.5rem;
  }
}

button {
  width: 250px;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  background: transparent;
  border: 2px solid var(--button-border-color);
  color: var(--button-txt-color);
  background: var(--button-bck-color);
  position: relative;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  transition: color 1s ease-out;
}
button::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid var(--button-border-color);
  border-left: none;
  border-top: none;
  position: absolute;
  top: .5rem;
  left: .5rem;
  background: transparent;
}
button:hover {
  color: white;
  transition: color 1s ease-out;
}
button:hover:before {
  width: 100%;
  transition: width .6s ease-in-out;
}
button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--primary-color);
  transition: width .6s ease-in-out;
}
.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2rem;
  place-items: center;
}
.merge-2_col {
  grid-column: span 2;
}
.buttons-container button {
  margin-bottom: .5rem;
  z-index: 1;
}
@media (max-width: 700px) {
  .buttons-container {
    grid-template-columns: 1fr;
  }
}

@keyframes fill-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.location-wrapper {
  display: flex;
  align-items: center;
  /* flex-flow: row-reverse; */
}
.location-wrapper img {
  margin-right: .5rem;
}

.hex-box {
  /* height: 180px; */
  display: grid;
  place-content: center;
}
.hex-content {
  width: 150px;
  height: 85px;
  position: relative;
  background: var(--background-color);
}
.hex-content::before, .hex-content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 85px;
  width: 150px;
  background: var(--background-color);
}
.hex-content::before {
  transform: rotate(60deg);
}
.hex-content::after {
  transform: rotate(-60deg);
}

/* ------------ loader ------------ */
.loader-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
  z-index: 20;
  overflow: hidden;
}

.loader,
.loader:before,
.loader:after {
  animation: loader-motion 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  height: 100%;
  color: var(--loader-color);
  position: relative;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  animation-delay: -0.16s;
}
.loader div {
  font-size: 2rem;
  font-weight: bold;
  transform: translateX(-15px);
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@keyframes loader-motion {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.loader__disappear {
  display: none;
  opacity: 0;
  transition: opacity .5s ease-out;
}
/* ------------ END- loader ------------ */

/* ------------ Animations ------------ */
.fade-in {
  opacity: 0;
  transition: opacity .8s ease-in;
}
.fade-in.appear {
  opacity: 1;
}
.from-bottom {
  transform: translateY(30%);
  opacity: .8;
  transition: all .5s ease-in;
}
.from-bottom.appear {
  opacity: 1;
  transform: translateY(0);
}
.scale-ele {
  transition: all .25s ease-out;
}
.scale-ele:hover {
  transform: scale(1.5) rotate(-360deg);
}
/* ------------ END - Animations ------------ */
