/* ------------ Header ------------ */
header > div{
  position: relative;
  height: 40px;
}

header .header-logo  div:nth-child(2) {
  height: 35px;
  letter-spacing: 5px;
  font-weight: bold;
  line-height: 1.7;
  font-size: 1.25rem;
  padding: 0 3px;
}
header .header-logo .logo-arrow-icons {
  height: 2px;
  width: 35px;
  background: var(--secondary-color);
}
.header-list-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
  height: 35px;
  text-align: center;
  border: 2px solid var(--active-color);
  color: var(--primary-color);
  border-left: none;
  border-right: none;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
}
.header-list-wrapper > div > div {
  height: 32.5px;
  letter-spacing: .45rem;
  color: var(--primary-color);
  display: grid;
  place-content: center;
}
@media (min-width: 600px) and (max-width: 900px) {
}
@media (max-width: 600px) {
}
/* ------------ END - Header ------------ */


/* ------------ Side Bar ------------ */
main aside {
  position: fixed;
  left: 3.2rem;
  top: 35vh;
  transform: rotate(90deg);
  z-index: 15;
}

@media (max-width: 900px) {
  main aside {
    left: 0;
    transform: rotate(0deg);
    bottom: 5rem;
    top: auto;
    width: 100%;
  }
  nav {
    justify-content: center;
    background: var(--background-color);
    padding: 2rem 0;
    width: 100%;
  }
  nav .nav-item {
    transform: rotate(0deg) !important;
  }
}
nav {
  position: absolute;
  display: flex;
  align-items: center;
}
nav .nav-item {
  transition: width .5s ease-in-out, color 1s ease-in-out;
  position: relative;
  display: flex;
  margin: 0 .5rem;
  height: 1.6rem;
  width: .65rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  color: var(--primary-color);
  background: var(--primary-color);
  transform: rotate(-180deg);
  text-transform: uppercase;
  font-weight: bold;
}
.nav-up-arrow, .nav-down-arrow {
  display: flex;
  cursor: pointer;
  color: var(--primary-color);
}
.nav-up-arrow > span {
  transform: rotate(-90deg);
}
.nav-down-arrow > span {
  transform: rotate(90deg);
}
.nav-item--active {
  width: 7rem !important;
  padding: 0 .8rem !important;
  color: var(--white) !important;
}
/* ------------ END - Side Bar ------------ */


/* ------------ Intro section ------------ */
#home-page-section .container {
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}
.intro-headings-wrapper {
  /* position: relative; */
  max-width: 580px;
}
.intro-headings-wrapper h2 {
  position: relative;
  margin: 0;
}
.intro-headings-wrapper h1 {
  font-size: 4rem !important;
  line-height: 1.5;
  font-weight: bolder;
}
.intro-headings-wrapper div {
  text-align: right;
  position: relative;
  font-weight: bolder;
}
.intro-headings-wrapper h2::before {
  position: absolute;
  content: '';
  height: 5px;
  background: var(--active-color);
  border-radius: 100px;
  top: 50%;
  transform: translateY(-50%);
}
.intro-headings-wrapper h2::before {
  width: 65%;
  right: 0;
}
.intro-headings-wrapper .text-right::before {
  width: 35%;
  left: 0;
}
.intro-section_content {
  margin: 3rem 0;
  width: 65%
}
.landing-page_img {
  position: absolute;
  right: 3rem;
  z-index: -1;
  top: 40%;
  transform: translateY(-50%);
}
.landing-page_img img {
  height: 380px;
}
.left-eye-bounds, .right-eye-bounds {
  content: '';
  position: fixed;
  height: 67px;
  width: 68px;
  background: var(--white);
  border-radius: 50%;
  overflow: hidden;
}
.left-eye-bounds {
  left: 58px;
  top: 70px;
}
.right-eye-bounds {
  right: 125px;
  top: 68px;
}
.eyeball {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  background: var(--black);
  transform: translate(-50%, -50%);
  position: absolute;
}
@media screen and (max-width: 900px) {
  .landing-page_img {
    display: none;
  }
  .intro-section_content {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .intro-headings-wrapper h1 {
    line-height: 1;
  }
  .intro-headings-wrapper {
    width: 100% !important;
    text-align: center;
  }
  .intro-headings-wrapper h2::before {
    display: none;
  }
  .intro-headings-wrapper h2 {
    text-align: center;
  }
  .intro-section_content {
    margin: 2rem 0;
  }
  #home-page-section .container {
    margin-top: 1rem;
  }
}
@media (max-width: 500px) {
  .intro-headings-wrapper {
    font-size: 1.5rem;
  }
  .intro-headings-wrapper h1 {
    font-size: 2.8rem !important;
  }
}
/* ------------ END - Intro Section ------------ */

/* ------------ Work section ------------ */
#projects-section {
  height: fit-content;
}
.project ul {
  padding: 0;
  list-style: none;
  display: flex;
}
.project ul li {
  margin-right: 20px;
}
.project-tech-stack {
  font-weight: lighter;
}
.project-links, .project-tech-stack {
  margin: 1rem 0;
}
.project-links li {
  margin: 0 4px;
}
.project-links img {
  height: 2rem;
  width: auto;
  border-radius: 50%;
  background: var(--white);
}

.project {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .project {
    align-items: flex-start;
  }
}

.project .project__left-view {
  position: relative;
  grid-column: 1 / 8;
  grid-row: 1 / -1;
}
.project-content {
  z-index: 5;
}
.project-img {
  z-index: 3;
}
.project .project__right-view {
  position: relative;
  border-radius: 2px;
  grid-column: 6 / -1;
  grid-row: 1 / -1;
  text-align: right;
}
.project .project__right-view ul {
  flex-direction: column;
}

.project .project-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  color: var(--primary-color);
}
.project .project-details p {
  background-color: var(--project-content-background);
  padding: 1.2rem 1.5rem;
  margin: 0;
}
.project-img img {
  width: auto;
  vertical-align: middle;
  max-height: 350px;
  max-width: 500px;
  display: none;
}
@media (max-width: 600px) {
  .project-content {
    grid-column: 1 / -1 !important;
    padding: 1rem;
    text-align: left !important;
    background: var(--project-content-background);
  }
  .project-tech-stack {
    margin: 0;
  }
  .project-links {
    margin: 0;
  }
  .project .project-title {
    margin: 0;
  }
  .project-img {
    grid-column: 1/ -1 !important;
  }
  .project-img img {
    width: 100%;
    opacity: .25;
  }
  .project .project-details p {
    padding: 1rem 0;
  }
}
@media screen and (max-width: 768px) {
  .project-img img {
    object-fit: cover;
    height: 100%;
  }
}
/* ------------ END - Work section ------------ */


/* ------------ Experience section ------------ */
#timeline-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
}
.timeline-card {
  background: var(--card-background-color);
  height: fit-content;
  box-shadow: 0 0 12px 0 var(--light-grey);
}
.timeline-card > div {
  padding: 2rem;
}
.timeline-card .timeline-heading {
  font-weight: bold;
  color: var(--white);
  padding: 2rem;
  border-bottom: 4px solid var(--primary-color);
}
.timeline-card .content-descp {
  position: relative;
  background: var(--background-color);
}
.timeline-card .content-descp p {
  margin: 1rem 0;
}
.timeline-card .company-logo {
  height: 50px;
  width: 50px;
  padding: .5rem;
  background: var(--white);
  border-radius: 50%;
  position: absolute;
  top: -2.2rem;
  left: 50%;
  transform: translateX(-50%)
}
.timeline-card .content-descp ul {
  padding-left: 1.2rem;
  margin-bottom: 1rem;
}
.timeline-card .content-descp ul li {
  padding-bottom: .5rem;
}
@media (max-width: 1105px) {
  #timeline-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .timeline-card > div {
    padding: 1rem;
  }
  .timeline-card .timeline-heading {
    padding: 2rem 1rem;
  }
}
/* ------------ END - Experience section ------------ */

/* ------------ About me section ------------ */
#about-me-section .container {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 60% 40%;
  grid-row-gap: 1rem;
}
.user-profile-pic {
  display: flex;
  align-self: center;
  justify-content: center;
}
.user-profile-pic img {
  height: 15rem;
  transition: all .3s ease-in;
  filter: grayscale(100%);
}
.user-profile-pic img:hover {
  filter: grayscale(0);
}
@media (max-width: 800px) {
  #about-me-section .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  #about-me-section .about-me-info {
    order: 2;
  }
}
/* ------------ END - About me section ------------ */

/* ------------ Skills Section ------------ */
#skills-section {
  position: relative;
}
#skills-section .container {
  display: grid;
  place-content: center
}
#skills-section .container > div {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  place-content: center;
}
.note-text {
  position: absolute;
  right: 2rem;
  bottom: 0rem;
}
.hex-box {
  display: grid;
  place-content: center;
  margin: .25rem;
}
.hex-box .hex-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.8rem 0;
}
.hex-content img {
  z-index: 2;
  position: absolute;
  height: 80px;
}
.hex-box:nth-child(6n+4), .hex-box:nth-child(6n+5), .hex-box:nth-child(6n+6) {
  margin-top: -2.5rem;
}
/* .hex-box:nth-child(4), .hex-box:nth-child(5) {
  margin-top: -2.5rem;
}
@media (max-width: 680px) {
  .hex-box:nth-child(3) {
    margin-top: -2.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
} */
/* ------------ END - Skills Section ------------ */


/* ------------ Contact me section ------------ */
#contact-me-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
#contact-me-section .container p {
  width: 80%;
  margin: 0;
  margin-bottom: 3rem;
}
@media (max-width: 800px) {
  #contact-me-section .container p {
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media (max-width: 600px) {
  #contact-me-section .container p {
    margin-bottom: 2rem;
  }
}
.footer {
  margin-top: auto;
  border-top: 2px solid var(--primary-color);
  display: flex;
  padding: 1rem 0;
}
.smiley-icon {
  font-size: 1rem;
  display: inline-flex;
  transform: translateY(2px);
}
.footer div:nth-child(1) {
  width: 25%;
}
.footer div:nth-child(2) {
  width: 75%;
}
@media (max-width: 900px) {
  .footer {
    margin-bottom: 2rem;
  }
}
/* @media (max-width: 600px) {
  .footer {
    margin-bottom: 3rem;
  }
} */

/* ------------ Contact me section ------------ */
